body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url(background.jpg) no-repeat 50% / cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.header {
  color: #BC6159;
  margin-bottom: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 40px 40px 20px 40px;
  border: 2px solid #BC6159;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 15px 4px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 4px 15px 4px rgba(0, 0, 0, 0.73);
}

.container h2 {
  width: 50%;
  margin: 20px auto;
}

.container p {
  font-size: 14px;
  margin: 0 auto;
  width: 50%;
}

.container button {
  color: #ffffff;
  width: 50%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: 0.3s all;
  outline: none;
  border-radius: 5px;
}

.container button:hover {
  cursor: pointer;
}

.link-container {
  min-height: 50px;
  border: 1px solid #000000;
  margin: 0 0 20px 0;
  padding: 10px;
}

label {
  width: 100%;
  text-align: left;
}

.copied-shown {
  color: #BC6159;
  opacity: 1;
  transition: all 250ms linear;
}

.copied-hidden {
  opacity: 0;
  transition: all 250ms linear;
}

@media (max-width: 767px) {
  body {
    background: none;
  }
  .container {
    width: 100%;
  }
  .container p {
    width: 100%;
  }
  .container button {
    width: 100%;
  }

  label {
    text-align: center;
  }

  .link-container {
    word-break: break-all;
  }

  .copied-shown, .copied-hidden {
    padding: 0 0 20px;
  }

}

@media (max-width: 401px) {
  .container {
    border: none;
    margin-top: 0;
  }
  .container h2 {
    font-size: 20px;
  }
}
