body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url(background.jpg) no-repeat 50% / cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.header {
  color: green;
  margin-bottom: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid green;
  border-radius: 5px;
  background: #ffffff;
  margin-top: 20%;
  -webkit-box-shadow: 6px 4px 15px 4px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 4px 15px 4px rgba(0, 0, 0, 0.73);
}

.container h2 {
  width: 50%;
  margin: 20px auto;
}

.container p {
  font-size: 11px;
  margin: 0 auto;
  width: 50%;
}

.container button {
  background: rgb(0, 128, 1);
  color: #ffffff;
  width: 50%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: 0.3s all;
  outline: none;
  border-radius: 5px;
}

.container button:hover {
  background: rgba(0, 128, 1, 0.75);
  cursor: pointer;
}

.link-container {
  min-height: 50px;
  border: 1px solid #000000;
  margin: 0 0 20px 0;
  padding: 10px;
}

@media(max-width:321px) {
  .container h2 {
    font-size: 20px;
  }
}